
.container{
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  
}
.container input[type=text]{
  margin-top: 20px;
  width: 80%;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  border-width: 1px;
  transform-style: preserve-3d;
}
.container button[type=submit]{
  padding: 5px 10px;
  margin-right: 10px;
  background-color: rgba(118, 139, 153, 0.856);
  
}
